*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    color: #e8eaea;
    background-color: #0c0e18;
}

nav{
    user-select: none;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.profile-icon{
    display: inline-block;
}

.profile-icon img{
    max-width: 80px;
    border-radius: 200px;
    display: inline-block;
    text-decoration: none;
}

.pages{
    display: inline-block;
}

.pages ul{
    padding: 0;
}

.pages ul li{
    padding: 0;
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.pages ul li a{
    text-decoration: none;
    color: #e8eaea;
    font-size: 18px;
    font-weight: 500;
}

.pages ul li a:hover{
    color: #c4c4c4;
}

.nav-buttons{
    display: inline-block;
}

.nav-buttons button{
    cursor: pointer;
    padding: 6px 16px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 18px;
    margin: 5px;
}

.nav-buttons button:first-child{
    background-color: transparent;
    color: #e8eaea;
    border: 1.6px solid #e8eaea;
}

.nav-buttons button:first-child:hover{
    background-color: #e8eaea;
    color: black;
    border: 1.6px solid #e8eaea;
}

.nav-buttons button:last-child{
    background-color: #e8eaea;
    color: black;
}

.nav-buttons button:last-child:hover{
    background-color: #e8eaeabd;
}

.sidebar{
    display: flex;
    justify-content: center;
}

.sidebar .social-media-icons{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar .social-media-icons li{
    display: inline-block;
    padding: 20px;
    padding-top: 0;
}

.sidebar .social-media-icons li a{
    color: #e8eaea;
    font-size: 22px;
}

.sidebar .social-media-icons li a:hover{
    color: #e8eaeabd;
}

main{
    margin: auto;
    max-width: 800px;
}

main section.intro{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

main section.intro .background{
    width: 500px;
    height: 500px;
    padding: 100px;
    background-color: #0c0e188e;
    border-radius: 100%;
}

main section.intro h3{
    color: #c4c4c4;
    font-weight: 400;
    margin: 0;
    font-size: 50px;
}

main section.intro h1{
    color: #c4c4c4;
    padding-left: 35px;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 60px;
}

main section.intro p{
    color: #e8eaea;
    opacity: 0.8;
}

main section.intro .intro-buttons{
    margin-top: 30px;
    user-select: none;
}

footer div img{
    user-select: none;
    max-width: auto;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 35%;
    left: 65%;
    z-index: -1;
}

footer div .circle{
    user-select: none;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    display: inline-block;
    background-color: #c4c4c48f;
    position: fixed;
    top: 60%;
    right: 75%;
    z-index: -1;
}