main{
    margin: auto;
    max-width: 800px;
    opacity: 0;
    transition: all 1s ease;
}

main section.intro{
    padding-bottom: 30px;
}

main section.intro h3{
    color: #c4c4c4;
    font-weight: 400;
    margin: 0;
    font-size: 70px;
}

main section.intro p{
    font-size: 18px;
    color: #e8eaea;
    opacity: 0.8;
}

footer div img{
    user-select: none;
    max-width: 800px;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 35%;
    left: 65%;
    transform: translate(0);
    opacity: 1;
    z-index: -1;
    transition: all 2s ease;
}

footer div .circle{
    user-select: none;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    display: inline-block;
    background-color: #c4c4c4;
    opacity: 0.3;
    position: fixed;
    transform: translateY(0);
    top: 60%;
    right: 75%;
    z-index: -1;
    transition: all 2s ease;
}