main{
    margin: auto;
    max-width: 800px;
}

main section.intro{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

main section.intro .background{
    width: 500px;
    height: 500px;
    padding: 100px;
    background-color: #0c0e188e;
    border-radius: 100%;
}

main section.intro h3{
    color: #c4c4c4;
    font-weight: 400;
    margin: 0;
    font-size: 50px;
}

main section.intro h1{
    color: #c4c4c4;
    padding-left: 35px;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 60px;
}

main section.intro p{
    color: #e8eaea;
    opacity: 0.8;
}

main section.intro .intro-buttons{
    margin-top: 30px;
    user-select: none;
}

footer div img{
    user-select: none;
    max-width: auto;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 35%;
    left: 65%;
    z-index: -1;
}

footer div .circle{
    user-select: none;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    display: inline-block;
    background-color: #c4c4c48f;
    position: fixed;
    top: 60%;
    right: 75%;
    z-index: -1;
}